# Ignorar dependencias locales y logs
node_modules
npm-debug.log*
yarn-error.log*
.DS_Store

# Ignorar la carpeta de build de Next.js
.next

# Ignorar configuraciones de entorno que no sean .env.local
# .env.local es necesario durante la fase de build para las variables NEXT_PUBLIC_*
.env.development
.env.production
.env.test

# Ignorar configuraciones de Git y VSCode
.git
.github
.vscode
